<?xml version="1.0" encoding="UTF-8"?>
<!--设置logback配置-->
<configuration  >

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] %c{1}.%M:%L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>